In [57]:
# importing modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [58]:
df = pd.read_excel('./datasets/LFR2023_SectionI.xlsx', sheet_name='I3', skiprows=6)
dataset = df.copy()
dataset

,Unnamed: 0,Unnamed: 1,Total,Less Than 1 Year,1 Year to Less Than 5\nYears,5 Years to Less Than\n10 Years,10 Years to Less\nThan 20 Years,At Least 20 Years
0,Total,2013.0,1697.9,307.5,591.8,333.9,284.9,179.8
1,NaN,2014.0,1744.3,355.0,585.0,326.6,290.4,187.4
2,NaN,2015.0,1797.0,333.5,626.3,344.0,296.2,196.9
3,NaN,2016.0,1807.0,319.2,646.9,348.9,294.5,197.5
4,NaN,2017.0,1806.9,284.3,646.3,358.8,315.3,202.2
5,NaN,2018.0,1845.7,303.8,636.7,357.7,341.5,206.0
6,NaN,2019.0,1883.9,316.4,630.8,377.2,333.3,226.3
7,NaN,2020.0,1854.5,286.9,649.4,376.0,318.6,223.5
8,NaN,2021.0,1936.8,345.3,636.2,387.1,340.7,227.5
9,NaN,2022.0,2002.4,357.8,637.6,383.8,373.1,250.1
10,NaN,2023.0,2024.7,332.5,695.2,372.6,385.5,239.1
11,Male,2013.0,879.7,154.1,292.9,173.0,153.2,106.5
12,NaN,2014.0,896.0,176.0,289.7,166.5,151.7,112.1
13,NaN,2015.0,910.9,161.2,306.7,173.1,157.2,112.6
14,NaN,2016.0,911.6,155.7,314.1,176.0,154.2,111.6
15,NaN,2017.0,914.8,139.0,314.3,177.5,170.2,113.8
16,NaN,2018.0,933.6,146.2,313.9,177.0,179.1,117.3
17,NaN,2019.0,947.6,154.7,305.4,185.3,174.2,128.1
18,NaN,2020.0,933.2,146.0,312.2,183.4,167.5,124.1
19,NaN,2021.0,966.7,172.2,308.3,190.7,172.9,122.6
20,NaN,2022.0,1007.6,180.8,312.1,189.8,186.3,138.6
21,NaN,2023.0,1004.1,160.6,337.6,182.6,194.2,129.1
22,Female,2013.0,818.2,153.4,298.9,160.9,131.7,73.3
23,NaN,2014.0,848.4,179.0,295.2,160.1,138.6,75.4
24,NaN,2015.0,886.1,172.3,319.6,170.9,139.0,84.3
25,NaN,2016.0,895.4,163.5,332.8,172.9,140.3,85.9
26,NaN,2017.0,892.0,145.3,331.9,181.4,145.1,88.4
27,NaN,2018.0,912.1,157.6,322.8,180.7,162.4,88.7
28,NaN,2019.0,936.3,161.6,325.4,191.9,159.1,98.3
29,NaN,2020.0,921.3,140.9,337.3,192.6,151.1,99.5
30,NaN,2021.0,970.1,173.1,327.9,196.4,167.8,104.9
31,NaN,2022.0,994.7,177.0,325.5,194.0,186.8,111.4
32,NaN,2023.0,1020.7,171.9,357.6,190.0,191.3,110.0
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,"Source: Comprehensive Labour Force Survey, Man...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
dataset.rename({"Unnamed: 0": "Gender" , "Unnamed: 1" : "Year"} , axis=1 , inplace=True)

In [60]:
dataset.drop([33 ,34] , axis=0 , inplace=True)

In [61]:
# ffill 'gender'
dataset['Gender'].ffill(inplace=True)

In [62]:
# Change year to datetime
dataset["Year"] = dataset['Year'].astype(int)

In [63]:
dataset

,Gender,Year,Total,Less Than 1 Year,1 Year to Less Than 5\nYears,5 Years to Less Than\n10 Years,10 Years to Less\nThan 20 Years,At Least 20 Years
0,Total,2013,1697.9,307.5,591.8,333.9,284.9,179.8
1,Total,2014,1744.3,355.0,585.0,326.6,290.4,187.4
2,Total,2015,1797.0,333.5,626.3,344.0,296.2,196.9
3,Total,2016,1807.0,319.2,646.9,348.9,294.5,197.5
4,Total,2017,1806.9,284.3,646.3,358.8,315.3,202.2
5,Total,2018,1845.7,303.8,636.7,357.7,341.5,206.0
6,Total,2019,1883.9,316.4,630.8,377.2,333.3,226.3
7,Total,2020,1854.5,286.9,649.4,376.0,318.6,223.5
8,Total,2021,1936.8,345.3,636.2,387.1,340.7,227.5
9,Total,2022,2002.4,357.8,637.6,383.8,373.1,250.1
10,Total,2023,2024.7,332.5,695.2,372.6,385.5,239.1
11,Male,2013,879.7,154.1,292.9,173.0,153.2,106.5
12,Male,2014,896.0,176.0,289.7,166.5,151.7,112.1
13,Male,2015,910.9,161.2,306.7,173.1,157.2,112.6
14,Male,2016,911.6,155.7,314.1,176.0,154.2,111.6
15,Male,2017,914.8,139.0,314.3,177.5,170.2,113.8
16,Male,2018,933.6,146.2,313.9,177.0,179.1,117.3
17,Male,2019,947.6,154.7,305.4,185.3,174.2,128.1
18,Male,2020,933.2,146.0,312.2,183.4,167.5,124.1
19,Male,2021,966.7,172.2,308.3,190.7,172.9,122.6
20,Male,2022,1007.6,180.8,312.1,189.8,186.3,138.6
21,Male,2023,1004.1,160.6,337.6,182.6,194.2,129.1
22,Female,2013,818.2,153.4,298.9,160.9,131.7,73.3
23,Female,2014,848.4,179.0,295.2,160.1,138.6,75.4
24,Female,2015,886.1,172.3,319.6,170.9,139.0,84.3
25,Female,2016,895.4,163.5,332.8,172.9,140.3,85.9
26,Female,2017,892.0,145.3,331.9,181.4,145.1,88.4
27,Female,2018,912.1,157.6,322.8,180.7,162.4,88.7
28,Female,2019,936.3,161.6,325.4,191.9,159.1,98.3
29,Female,2020,921.3,140.9,337.3,192.6,151.1,99.5
30,Female,2021,970.1,173.1,327.9,196.4,167.8,104.9
31,Female,2022,994.7,177.0,325.5,194.0,186.8,111.4
32,Female,2023,1020.7,171.9,357.6,190.0,191.3,110.0